<!DOCTYPE html>
<html lang="en">
<head><%- include('./head') %></head>
<body>
   <div class="wrapper">
      <header><%- include('./header') %></header>

      <div class="blok">

         <div class="article">
            <article class="artic">
               <h2>
                  Топ публикаций
               </h2>
               <header class="headers_elect_card_categori">
                  <button class="button button_color_all" data-filter="all">
                     Все обьявления
                  </button>
                  <button class="button button_color_cat" data-filter="cat">
                     Топ рейтинга
                  </button>
               </header>

               <div class="conteiner_card_categori">

                  <div class="statiya"></div>
                  <% for(let i=0; i < doc.length; i++){ %>
                  <div class="card cat">
                     <h3><%= doc[i].zagolovok %></h3>
                     <h4><%= doc[i].keywords %></h4>
                     <p>
                        <%= doc[i].article %>
                     </p>
                     <a href="/article/<%= doc[i].id %>">Посмотреть</a>
                     
                  </div>
                  <% } %>
               </div>
            </article>
         </div>

         <div class="cluch_slova">
            <h2>Категории</h2>
            <div class="out">
               <header class="headers_elect_card_categori">
                  <button class="button button_color_all" data-filter="nedvijimost">НЕДВИЖИМОСТЬ</button>
                  <button class="button button_color" data-filter="electronica">ЭЛЕКТРОНИКА</button>
                  <button class="button button_color" data-filter="hobbi">ХОББИ И ОТДЫХ</button>
                  <button class="button button_color" data-filter="bird">РАБОТА ВАКАНСИИ</button>
                  <button class="button button_color" data-filter="dog">РАБОТА РЕЗЮМЕ</button>
                  <button class="button button_color" data-filter="dog">ТРАНСПОРТ</button>
                  <button class="button button_color" data-filter="dog">ЖИВОТНЫЕ</button>
                  <button class="button button_color" data-filter="dog">ДЕТСКИЙ МИР</button>
                  <button class="button button_color" data-filter="dog">БИЗНЕС И УСЛУГИ</button>
                  <button class="button button_color" data-filter="dog">МОДА И СТИЛЬ</button>
                  <button class="button button_color" data-filter="dog">ДОМ И САД</button>
                  <button class="button button_color" data-filter="dog">ВЗАИМОПОМОЩЬ</button>
                  <button class="button button_color" data-filter="dog">ОБМЕН</button>
                  <button class="button button_color" data-filter="dog">СКИДКИ</button>
               </header>
            </div>

         </div>

      </div>

      <footer><%- include ('./footer') %></footer>

   </div>
   <script src="./js/main.js"></script>
</body>
</html>